<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tela de Login</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
<style type="text/css">

body {
 margin-top: 11%;
}

</style> 	
</head>

<body >
<div class="valign-wrapper row login-box">
	<div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
		<form th:action="@{/login}" method="post" class="col s12" >
			<div class="card-content">
				<h5>Acesso ao Sistema</h5>
				<div class="row">
					<div class="input-fiel col s12">
						<label>Login</label> 
						<input type='text' name='username'>
					</div>
				</div>

				<div class="row">
					<div class="input-fiel col s12">
						<label>Senha</label> 
						<input type='password' name='password' />
					</div>
				</div>
			</div>
		
			<div class="card-action right-align">	
				<button type="reset" class="btn-flat grey-text waves-effect" 
                    onclick="document.getElementById('limpar').reset();">Redefinir</button>
				<input name="submit" type="submit" value="Acessar" class="waves-effect waves-light btn"/>
			</div>
		</form>
	</div>
</div>
</body>
</html>